<span class="menu-wrapper">
  <!-- <div class="flex-container">
   <img class="flex-image" src="image/logotake3.jpg" alt="" />
  </div> -->
  <h2 class="menu-intro">Your Pages</h2>
  <hr>
      <!-- <div class="side-bar" ng-repeat="prop in story.story track by $index">
      <button class="view-change" ui-sref="wikipage({id: prop._id})">{{prop.name}}</button>
      <hr>
    </div> -->

    <div class="side-bar" ng-repeat="cat in category">
      <button class="view-change" ui-sref="menu({id: cat._id})">{{cat.name}}</button>
    </div>

    <input ng-model="categoryName.name"></input>
    <button ng-click="addCategory(categoryName)">Save Category</button>
      <!-- <div class="side-bar" ng-repeat="prop in story.story track by $index">
      <button class="view-change" ui-sref="wikipage({id: prop._id})">{{prop.name}}</button>
      <hr>
    </div>
      {{cat.name}}
    </div> -->
</span>

<div class="menu-cont"></div>
